<style media="screen">
  input#m { width: 90%;}
  #sendbtn{ margin-top: -5%;float:right;}
  #messages { list-style-type: none; margin: 0; padding: 0; }
  #messages li { padding: 5px 10px; }
  #messages li:nth-child(odd) { background: #eee; }
</style>

<div class="content">
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Welcome</h4>
        </div>
        <div class="modal-body">
          <div>
            <form ng-submit="login()">
              <input autofocus ng-model="currentUser" id="login" type="text" class="form-control" placeholder="Set your nickname" />
              <br>
              <span class="input-group-btn">
              <button class="btn btn-primary btn-sm" id="btn-chat">Go</button>
              </span>
            </form>
          </div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  <div style="padding: 17px; padding-top: 0px;">
    <br>
    <span ng-bind="error"></span>
  </div>

  <div id="allrooms">
    <ul class="list" ng-repeat="tab in $root.tabs track by $index">
    <li ng-class="{active: isActive(tab.token)}">
      <a ng-click="joinRoom(tab.token)">{{tab.name}}</a>
    </li>
    </ul>
  </div>
  <hr>

  <div class="col-md-6">
    <div class="video-wrapper">
      <video-player class="col-md-6" ng-repeat="peer in peers" vid-src="{{peer.stream}}"></video-player>
    </div>

    <div class="video-wrapper">
      <div class="col-md-4">
        <video ng-src="{{getLocalVideo()}}" autoplay muted></video>
      </div>
    </div>
  </div>

  <div class="col-md-6">
      <div class="panel panel-primary">
          <div class="panel-heading">
              <span></span> Chat
          </div>
          <div class="panel-body">
              <ul class="chat">
                <li ng-repeat="msg in $root.messages track by $index;" class="left clearfix">
                  <div class="chat-body clearfix">
                    <p><b>{{msg.username}}</b>&nbsp;&nbsp;&nbsp;{{msg.msg}}</p>
                  </div>
                </li>
              </ul>
          </div>
          <div class="panel-footer">
            <div>
              <form ng-submit="textMsg()">
                <input ng-model="textInput" id="m" type="text" placeholder="Enter your message" class="form-control"  />
                <div id="sendbtn" class="text-right">
                  <button class="btn btn-primary btn-sm">Send</button>
                </div>
              </form>
            </div>
          </div>
      </div>
  </div>
</div>
