<style media="screen">
  #messages { list-style-type: none; margin: 0; padding: 0; }
  #messages li { padding: 5px 10px; }
  #messages li:nth-child(odd) { background: #eee; }
</style>
<div style="padding: 17px; padding-top: 0px;">
  <span ng-hide="error">
  Allow the browser to use your web cam and share the URL to your friends.
  </span>
  <br>
  <span ng-bind="error"></span>
</div>


<div class="video-wrapper">
  <video-player class="col-md-4" ng-repeat="peer in peers" vid-src="{{peer.stream}}"></video-player>
</div>

<div class="video-wrapper">
  <div class="col-md-2">
    <video ng-src="{{getLocalVideo()}}" autoplay muted></video>
  </div>
  <div>
    <ul id="messages"></ul>
    <form ng-submit="textMsg()">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>
  </div>
</div>
